# Gemini API
NEXT_PUBLIC_GEMINI_API_KEY=

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://aojsgxwiawyzsjutwtmp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_GTIfhLXBbJKUts9yFRsv9Q_4nmnb0jw

# Foursquare API (Usando Legacy Key no Frontend/Backend)
FOURSQUARE_API_KEY=fsq34fB9gDDmvm99TitioL63BT9Wib2lOY+0hk1mIYjIIXU=

# Foursquare OAuth & Services (Para futuras expansões)
FSQ_SERVICE_KEY=2ZSRPSW0A1MKYMNHJMPFOTSD53REK22KZTFVQ45ILVQCYQRV
FSQ_CLIENT_ID=IVXTTM1ZCH2D4MONOCCNRSY1O1MXIZ5NOQDSRHINJ3KFJK3Q
FSQ_CLIENT_SECRET=CXCJMMONTATNPZURVFUPMCFUISWCYOSUDJQX2HXCPWTT5WF5

# Database URL
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.aojsgxwiawyzsjutwtmp.supabase.co:5432/postgres
